.cutsContainer {
    background-color: black;
    width: 100%;
    height: auto;
    @include disFC();
    padding-top: 1vh;
    &__cuts {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4vh;
        gap: 2vh;
        &__cut {
            width: 100%;
            height: auto;
            @include disFC();
            animation: fadeIn 2s ease-in;
            &__prop {
                width: 100%;
                border-radius: 2vh;
                box-shadow: 4px 4px 10px black, -4px -4px 10px black;
            }
        }
    }
}

@media (max-width: 480px) {
.cutsContainer {
    background-color: black;
    width: 100%;
    height: auto;
    @include disFC();
    padding: 15vh 0vh 1vh 0vh;
    &__cuts {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1vh;
        gap: 2vh;
        &__cut {
            width: 100%;
            height: auto;
            @include disFC();
            animation: fadeIn 2s ease-in;
            &__prop {
                width: 90%;
                border-radius: 2vh;
            }
        }
    }
}
}