.itemCreateProduct {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
    border-top: 0.3vh solid white;
    padding: 2vh 0vh;
    &__input {
        width: 100%;
        height: auto;
        @include disFC();
        &__prop {
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 18px;
            background: none;
            border: none;
            color: white;
        }
    }
    &__btns {
        width: 100%;
        height: auto;
        @include disFC();
        gap: 1vh;
        &__btn {
            width: 80%;
            height: auto;
            @include btnsYellow;
            padding: 0vh 0.3vh;
        }
    }
}

.itemProduct {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
    border-top: 0.3vh solid white;
    padding: 1vh 0vh;
    &__input {
        width: 100%;
        height: auto;
        @include disFC();
        overflow: auto;
        white-space: nowrap;
        ::placeholder {
            color: white;
        }
        &__prop {
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 18px;
            background: none;
            border: none;
            color: white;
        }
    }
    &__label {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 18px;
    }
    &__btns {
        width: 100%;
        height: auto;
        @include disFC();
        gap: 1vh;
        &__btn {
            width: 45%;
            height: auto;
            @include btnsYellow;
            padding: 0vh 0.3vh;
            font-size: 14px;
        }
    }
}
.itemProductMobile {
    display: none;
}
@media (max-width: 480px) {
.itemProductMobile {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
    border-top: 0.3vh solid white;
    padding: 1vh 0vh;
    gap: 1vh;
    &__input {
        width: 100%;
        height: auto;
        @include disFC();
        overflow: auto;
        white-space: nowrap;
        ::placeholder {
            color: white;
        }
        &__prop {
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 15px;
            background: none;
            border: none;
            color: white;
            overflow: auto;
        }
    }
    &__btns {
        width: 100%;
        height: auto;
        @include disFC();
        &__btn {
            width: 40%;
            height: auto;
            @include btnsYellow;
        }
    }
}
.itemCreateProduct {
    display: none;
}

.itemProduct {
    display: none;
}
}