.myDataContainer {
    background-color: black;
    width: 100%;
    height: auto;
    @include disFC();
    flex-direction: column;
    padding: 8vh 0vh 20vh 0vh;
    &__title {
        text-align: center;
        font-size: 50px;
        color: white;
        animation: fadeIn 2s ease-in;
    }
    &__data {
        background-color: black;
        width: 60%;
        height: auto;
        @include disFC();
        flex-direction: column;
        gap: 2vh;
        padding: 4vh;
        border: 0.5vh solid #d2b569;
        border-radius: 5vh;
        &__label-input {
            width: 100%;
            height: auto;
            @include disFC();
            gap: 1vh;
            &__label {
                width: 100%;
                height: auto;
                @include disFC();
                color: white;
                &__prop {
                    text-align: center;
                    font-size: 30px;
                }
            }
            &__labelData {
                width: 100%;
                height: auto;
                @include disFC();
                color: white;
                &__prop {
                    text-align: center;
                    font-size: 25px;
                }
            }
            &__labelNPartner {
                width: 100%;
                height: auto;
                @include disFC();
                color: white;
                &__prop {
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
    }
    &__btn {
        width: 100%;
        height: auto;
        @include disFC();
        padding-top: 4vh;
        &__prop {
            width: 20%;
            height: auto;
            @include btnsYellow;
        }
    }
}

@media (max-width: 480px) {
    .myDataContainer {
        background-color: black;
        width: 100%;
        height: auto;
        @include disFC();
        flex-direction: column;
        padding: 16vh 0vh 8vh 0vh;
        &__title {
            text-align: center;
            font-size: 40px;
            color: white;
            animation: fadeIn 2s ease-in;
        }
        &__data {
            width: 90%;
            height: auto;
            @include disFC();
            flex-direction: column;
            gap: 2vh;
            padding: 4vh 2vh;
            border: 0.5vh solid #d2b569;
            border-radius: 5vh;
            &__label-input {
                width: 100%;
                height: auto;
                //@include disFC();
                display: grid;
                grid-template-columns: 30% 70%;
                gap: 1vh;
                &__label {
                    width: 100%;
                    height: auto;
                    @include disFC();
                    color: white;
                    &__prop {
                        text-align: center;
                        font-size: 20px;
                    }
                }
                &__labelData {
                    width: 100%;
                    height: auto;
                    @include disFC();
                    color: white;
                    &__prop {
                        text-align: center;
                        font-size: 18px;
                    }
                }
                &__labelNPartner {
                    width: 100%;
                    height: auto;
                    @include disFC();
                    color: white;
                    &__prop {
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
        &__btn {
            width: 100%;
            height: auto;
            @include disFC();
            padding-top: 4vh;
            &__prop {
                width: 70%;
                height: auto;
                padding: 0.3vh 0vh;
                font-size: 18px;
                font-weight: bold;
                @include btnsYellow;
            }
        }
    }
}